extends ../layout
block content
    .container
        h2 Tabla de Topicos
        table(border='1')
            tr
                th Topico
                th Descripcion
                th Fecha de Creación
                if (topics)
                    each topic in topics
                        tr
                            td
                                a(href="/topic/" + topic._id.toString()) #{topic.topic}
                            td #{topic.topicDesc}
                            td #{topic.createdDate}
        a(href="/topic-new/") #nueva