extends layout

block content
	.container
	.starter-template
		.alert.alert-info
			h1 404
			h1 this aren't the page you're looking for
			strong #{error}
			br
			button.btn.btn-primary(onclick='window.history.back();') Regresar