.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
	.container
		.navbar-header
			button(type="button", data-toggle="collapse" data-target=".navbar-collapse").navbar-toggle
				span.sr-only Toogle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			
			.collapse.navbar-collapse
		- if (title !== 'Login'){			
			ul.nav.navbar-nav
				li.active: a(href="#") Inicio
				li: a(href="#") Acerca de
				li: a(href="#") Contacto
		- }
//			ul.nav.navbar-nav.navbar-right
//				li: a(href="/register") Registro? Quiero un registro?